
            h1{
                text-align: center;
                color: blueviolet;
            }
            h3{
                text-align: center;
            }
            .center{
                text-align: center;
            }
            .center1{
                text-align: center;
                margin-top: 20px;
             }
            .search-form{
                display: flex;
                justify-content: center;
            }
            .input{
                padding: 5px;
                width: 350px;
            }
            .button{
                padding: 5px 10px;
                background-color: lightblue;
                color: black;
                border: none;
                cursor: pointer;
            }
    
            .title-bar{
                position: relative;
                background-color: rgb(158, 108, 158);
                color: rgb(31, 34, 32);
                padding: 10px 20px;
                display: flex;
                justify-content: space-between;
            }

            .title {
                font-size: 18px;
            }

            .actions {
             display: flex;   
            }

            .actions a {
                padding: 10px 20px;
                background-color: rgb(158, 108, 158);
                border: none;
                color: rgb(38, 31, 63);
                font-size: 16px;
                cursor: pointer;
            }

            .actions a:hover{
                background-color:rgb(39, 129, 39);
            }















